@import '../../../app.less';

.container {
  min-height: 100vh;
  background-color: @color-bg-page;
  padding: @spacing-md;
}

.loadingMore {
  padding: @spacing-md;
  text-align: center;
}

.loadingText {
  font-size: @font-size-sm;
  color: @color-text-placeholder;
}

.noMore {
  padding: @spacing-md;
  text-align: center;
}

.noMoreText {
  font-size: @font-size-sm;
  color: @color-text-placeholder;
}
